@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Definições padrão */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Modo claro */
@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

/* Modo escuro */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* Fonte */
@font-face {
  font-family: 'ABC Favorit';
  src: url('/fonts/ABCFavorit-Regular.woff2') format('woff2'),
       url('/fonts/ABCFavorit-Regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}


/* Global styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'ABC Favorit', sans-serif;
}

* {
  box-sizing: border-box;
}
